.vs
_ReSharper.Caches

*.user

Mute/bin
Mute/obj
Mute/config.json
/Mute/Properties/PublishProfiles

MuteUnitTests/bin
MuteUnitTests/obj
MuteUnitTests/config.json
/MuteUnitTests/Properties/PublishProfiles

