.vs
_ReSharper.Caches
_NCrunch_Mute

*.user
*.ncrunchsolution

Mute/bin
Mute/obj
Mute/config.json
/Mute/Properties/PublishProfiles

Mute.Moe/bin
Mute.Moe/obj
Mute.Moe/database.sqlite
Mute.Moe/config.json

Mute.Tests/bin
Mute.Tests/obj

/ml-models/sentiment/*.m
/sfx
/Mute.Moe/music_library
