@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-md-12">
        <a asp-action="LoginDiscord" asp-controller="Account" class="btn btn-default">Log In with Discord</a>
    </div>

    <img src="/Sigil/@ViewData["ID"]">
</div>


