@using Discord.WebSocket
@using Mute.Moe.Extensions
@using Mute.Moe.Services.Reminders
@using Humanizer;

@{
    ViewData["Title"] = "Reminders";
}

<h2>Index</h2>

<p>Reminders!</p>

<table class="table">
    <tbody>
        @{
            var user = User.TryGetDiscordUser((DiscordSocketClient)ViewData["_client"]);
            if (user != null)
            {
                var service = (IReminders)ViewData["_reminders"];
                var reminders = await service.Get(user.Id).ToArrayAsync();


                foreach (var remind in reminders)
                {
                    <tr>
                        <td>@remind.TriggerTime.Humanize()</td>
                        <td>@remind.Message</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>